Babel==0.9.6
BeautifulSoup==3.2.0
Brlapi==0.5.6
CDApplet==1.0
CDBashApplet==1.0
CherryTree==0.23.1
Cython==0.18
Django==1.5.1
Flask==0.9
Flask-Babel==0.8
Flask-Cache==0.12
Flask-Script==0.5.3
Flask-Themes==0.1.3.1
GnuPGInterface==0.3.2
Jinja2==2.6
MLPY==2.2.0
Magic-file-extensions==0.2
Mako==0.5.0
Markdown==2.3.1
MarkupSafe==0.15
MySQL-python==1.2.4
PIL==1.1.7
Pillow==2.0.0
PyBluez==0.18
PyX==0.11.1
Pygments==1.4
Pyste==0.9.10
Sphinx==1.2b1
Twisted-Core==11.1.0
Twisted-Names==11.1.0
Twisted-Web==11.1.0
UniConvertor==1.1.4
Werkzeug==0.8.3
Whoosh==2.5.0
XStatic==0.0.2
XStatic-AnyWikiDraw==0.14.2
XStatic-CKEditor==3.6.4.0
XStatic-JSON-js==0.0.0.40f3377a63.1
XStatic-TWikiDraw-moin==2004.10.23.2
XStatic-jQuery==1.8.2.1
XStatic-jQuery-File-Upload==4.4.2
XStatic-svg-edit-moin==2012.11.27.1
XStatic-svgweb==2011.2.3.2
adium-theme-ubuntu==0.3.2
apt-xapian-index==0.44
apturl==0.5.1ubuntu3
argparse==1.2.1
beautifulsoup4==4.0.2
bicyclerepair==0.9
blinker==1.2
bzr==2.5.1
ccsm==0.9.5.92
chardet==2.0.1
chm2pdf==0.9
command-not-found==0.2.44
compizconfig-python==0.9.5.94
configglue==1.0
configobj==4.7.2
cwiid==0.6.00
debtagshw==0.1
decorator==3.3.2
defer==1.0.2
dirspec==3.0.0
distribute==0.6.34
docutils==0.8.1
duplicity==0.6.18
emeraldtree==0.9.2
epydoc==3.0.1
execnet==1.1
explorer==1.2.2
fixtures==0.3.6
flatland==dev
gevent==0.13.6
gnuplot-py==1.8
greenlet==0.3.1
gunicorn==17.5
html5lib==0.90
httplib2==0.7.2
iniparse==0.4
ipython==0.12.1
jockey==0.9.7
kazam==1.0.6
keyring==0.7.1
kiki==0.5.6
language-selector==0.1
launchpadlib==1.9.12
lazr.restfulclient==0.12.0
lazr.uri==1.0.3
logilab-astng==0.23.0
logilab-common==0.57.1
louis==2.3.0
lxml==2.3.2
matplotlib==1.1.1rc
mercurial==2.0.2
modernize==0.1
-e hg+http://hg.moinmo.in/moin/2.0@678c1bd962676bedca901a1c044b7d6c7384e8ae#egg=moin-dev
mysql-connector-python==1.0.8
networkx==1.7
numpy==1.6.1
nvidia-common==0.0.0
oauth==1.0.1
oauth2==1.5.211
onboard==0.97.1
oneconf==0.2.8.1
pam==0.1.1
paramiko==1.7.7.1
passlib==1.6.1
pdfminer==20110515
pep8==1.4.5
pexpect==2.3
pisa==3.0.32
piston-mini-client==0.7.2
protobuf==2.4.1
py==1.4.14
pyOpenSSL==0.13
pyPdf==1.13
pychecker==0.8.19
pychm==0.8.4
pycrypto==2.4.1
pycups==1.9.61
pycurl==7.19.0
pyflakes==0.5.0
pygame==1.9.1release
pyinotify==0.9.2
pylint==0.25.0
pyparsing==1.5.2
pyserial==2.5
pysmbc==1.0.13
pysqlite==2.6.3
pytest==2.3.5
pytest-cache==0.9
pytest-pep8==1.0.2
python-apt==0.8.3ubuntu7
python-dateutil==1.5
python-debian==0.1.21ubuntu1
python-geoclue==0.1.0
python-twitter==0.8.3
python-virtkey==0.60.0
python-xlib==0.14
pytkapp==0.2.151.3
pytz==2011k
pyxdg==0.19
pyzmq==2.1.11
qbzr==0.22.2
qrencode==1.01
quickly-widgets==11.03.1
rdflib==2.4.2
redis==2.7.4
reportlab==2.5
requests==0.8.2
rhythmbox-ubuntuone==3.0.0
rope==0.9.2
scipy==0.9.0
sessioninstaller==0.0.0
simplegeneric==0.7
simplejson==2.3.2
six==1.3.0
software-center-aptd-plugins==0.0.0
speaklater==1.3
spyder==2.1.9
stgit==0.15
sympy==0.7.1
system-service==0.1.6
testtools==0.9.14
tortoisehg==2.2
ubuntu-tweak==0.8.3
ubuntuone-couch==0.3.0
ubuntuone-installer==3.0.2
ubuntuone-storage-protocol==3.0.2
ufw==0.31.1-1
unattended-upgrades==0.1
unity-lens-video==0.3.5
unity-scope-video-remote==0.3.5
usb-creator==0.2.23
vboxapi==1.0
virtualenv==1.9.1
wadllib==1.3.0
web2py==2.4.7-stable-timestamp.2013.05.29.11.38.58
winpdb==1.4.8
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
wxglade==0.6.4
xdiagnose==2.6
xkit==0.0.0
xlrd==0.9.2
xlutils==1.6.0
xlwt==0.7.5
zope.interface==4.0.2

